IAC/Prosegur.Global.GesEfectivo.IAC/Web/Web References/localhost/IAC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarCanal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objPeticion" type="tns:Peticion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Peticion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigoCanal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcionCanal" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="bolVigente" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="RecuperarCanalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarCanalResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Canales" type="tns:ArrayOfCanal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCanal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Canal" nillable="true" type="tns:Canal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Canal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigoCanal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcionCanal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="observacionesCanal" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="vigenteCanal" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarCanalSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarCanal" />
  </wsdl:message>
  <wsdl:message name="RecuperarCanalSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarCanalResponse" />
  </wsdl:message>
  <wsdl:portType name="IACSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarCanal">
      <wsdl:input message="tns:RecuperarCanalSoapIn" />
      <wsdl:output message="tns:RecuperarCanalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IACSoap" type="tns:IACSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarCanal">
      <soap:operation soapAction="http://tempuri.org/RecuperarCanal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IACSoap12" type="tns:IACSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarCanal">
      <soap12:operation soapAction="http://tempuri.org/RecuperarCanal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IAC">
    <wsdl:port name="IACSoap" binding="tns:IACSoap">
      <soap:address location="http://localhost:2794/IAC.asmx" />
    </wsdl:port>
    <wsdl:port name="IACSoap12" binding="tns:IACSoap12">
      <soap12:address location="http://localhost:2794/IAC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>