Genesis/Prosegur.Genesis.ProcesosDuo/Service References/ProxyProfatDocumentoEntradaCT/DocumentoEntradaCT1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://brbhzsvd00075/Prosegur.Profat.Integracao.Servico/DocumentoEntradaCT.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Prosegur.Profat.Integracao.Comum.Entidades" />
  <xs:element name="InserirDocumentoEntradaCT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Prosegur.Profat.Integracao.Comum.Entidades" minOccurs="0" name="oEntradaCT" nillable="true" type="q1:EntradaCT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirDocumentoEntradaCTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Prosegur.Profat.Integracao.Comum.Entidades" minOccurs="0" name="InserirDocumentoEntradaCTResult" nillable="true" type="q2:RetornoCT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>