Mulesoft/genesis-producto/src/main/resources/wsdl/notificacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://xmlns.services.prosegur.com/corp/notifications/online/event" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://xmlns.services.prosegur.com/corp/notifications/online/event" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://xmlns.services.prosegur.com/corp/notifications/online/event">
      <s:element name="request" type="tns:Request" />
      <s:complexType name="Request">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="source" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idTran" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="integration" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="object" nillable="true" type="tns:Object" />
          <s:element minOccurs="0" maxOccurs="1" name="context" type="tns:Context" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Object">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="sourceId" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="operation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="attributes" type="tns:Attribute" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Attribute">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="name" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="value" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Context">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="region" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="response" type="tns:Response" />
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="statusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="statusDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="onlineNotificationEventOpSoapIn">
    <wsdl:part name="request" element="tns:request" />
  </wsdl:message>
  <wsdl:message name="onlineNotificationEventOpSoapOut">
    <wsdl:part name="onlineNotificationEventOpResult" element="tns:response" />
  </wsdl:message>
  <wsdl:portType name="NotificacionSoap">
    <wsdl:operation name="onlineNotificationEventOp">
      <wsdl:input message="tns:onlineNotificationEventOpSoapIn" />
      <wsdl:output message="tns:onlineNotificationEventOpSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificacionSoap" type="tns:NotificacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="onlineNotificationEventOp">
      <soap:operation soapAction="/notificationAPI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificacionSoap12" type="tns:NotificacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="onlineNotificationEventOp">
      <soap12:operation soapAction="/notificationAPI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Notificacion">
    <wsdl:port name="NotificacionSoap" binding="tns:NotificacionSoap">
      <soap:address location="http://10.83.0.97:8291/Prosegur.Genesis.Servicio/Notificacion.asmx" />
    </wsdl:port>
    <wsdl:port name="NotificacionSoap12" binding="tns:NotificacionSoap12">
      <soap12:address location="http://10.83.0.97:8291/Prosegur.Genesis.Servicio/Notificacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>